#Header {
	margin-left: 20px;
}

#cancel-button {
	width: 100%;
}

.form-group {
	padding-left: 50px;
	padding-right: 50px;
}

#mobile {
	padding-left: 0px;
}

#table {
	background-color: #CFD8DC


}

#col {
	color: black;
}

#row {
	background-color: #CFD8DC
}

#stack-control {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

#normal-control {
	float:right;
	margin-right: 10px;
	margin-top: 10px;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
